{% extends 'admin/bases.html' %}
{% block main %}  

<div class="card shadow w-100">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Add banner</h5>
        <div class="container-fluid">
            <form method="POST" action=""  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>banner title</label>
                            <input type="text" name="title" class="form-control" placeholder="banner title" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>banner image</label>
                            <input type="file" name="image" class="form-control" placeholder="banner image" required>
                        </div>
                    </div>

                   

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="discription" class="form-control" placeholder="write description here" required></textarea>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>



{% endblock %}