{% extends 'admin/bases.html' %}



{% load static %}
{% block main %} 

<div class="card shadow w-100 ">
    <div class="card-body ">

        <h5 class="p-2" style="border-bottom: 2px solid orange;">All Variant</h5>
        <div class="container-fluid ">
           <div class="table-responsive">
            <table id="mydata" class="table table-bordered table-sm " style="text-align:center;">
                <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Product Name</th>
                    <th>Varient Name</th>
                    <th>Stock</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody > 
                    {% for v in varient %}
                    <tr>
                        <td class="p-3">{{ forloop.counter }}</td>
                        <td>{{v.proname.name}}</td>
                        <td>{{v.varientname}}</td>
                        <td>{{v.varstock}}</td>
                        <td>
                            <a href="{% url 'editvarient' v.id %}" class="text-success">Edit</a>
                            <a href="{% url 'dltvarient' v.id %}" class="text-danger" onclick="return confirm('Are You Sure ?')" >Delete</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    
            </table>
        </div>
            {% comment %} <div class="col-lg-12 ">
                <div class="pagination justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <i class="ti-angle-left">PREVIOUS</i>
                                    </a>
                                </li>
                            {% endif %}
                            {% for page in page_obj.paginator.page_range %}
                                {% if page_obj.number == page %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                                {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <i class="ti-angle-right">NEXT</i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>

    <!--Alertify JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
    function confirmDelete(event) {
        event.preventDefault(); // prevent the link from redirecting immediately
        alertify.confirm('Message', 'Are You Sure Want to Delete This', function(){
            window.location.href = event.target.href; // redirect to the delete URL
        }, function(){ 
            alertify.error('Cancel')
        });
    }
</script>





{% endblock %}